
usa_spending/usa_spending/__pycache__/

usa_spending/.DS_Store

.DS_Store

.idea/

usa_spending/.env

scrapy/usa_spending/spiders/__pycache__/

scrapy/usa_spending/__pycache__/

LAUS/.env

LAUS/__pycache__/

usa_spending/usa_spending/spiders/__pycache__/
